html {
    box-sizing: border-box;
    font: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

#map{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}